/* =========== SECCIONES ============ */
#header {
  display: grid;
  grid-template-rows: max-content; }

.header-main-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #C36A2D;
  padding: 20px 40px; }
  .header-main-wrapper .logo {
    display: flex;
    flex-direction: row; }

.links-header {
  text-decoration: none;
  color: #C36A2D;
  padding-left: 5px; }

.header-container-titulos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px; }

#buscadorContainer {
  position: absolute;
  background-color: #FBFBFB;
  display: block;
  margin-top: 1px;
  width: 560px;
  translate: -1px; }

.buscador {
  border: 1px solid;
  width: 560px; }

.buscador-resultado {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: solid 1px rgba(195, 105, 45, 0.2);
  transition: all 300ms ease-in-out; }
  .buscador-resultado:hover {
    background-color: #eceff2; }

.buscador-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.buscador-container-3 {
  margin-left: 16px; }

.portada-buscador {
  width: 50px;
  height: 70px; }

.carrito {
  display: flex;
  flex-direction: row; }

.libroPortadaEnCarrito {
  width: 80px;
  height: 110px; }

.libroEnCarrito {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  padding-top: 16px;
  border-top: solid 1px #eceff2; }

.precio-total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px #eceff2;
  padding-top: 16px; }

.nav-wrapper {
  height: 48px;
  background-color: #C36A2D; }

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0%;
  padding: 0%;
  height: 48px; }

.nav-links {
  text-decoration: none;
  color: #EADCA6;
  margin: 0px 10px;
  padding: 9px 0px;
  border-bottom: solid 0px;
  transition: all 150ms ease-in-out; }
  .nav-links:hover {
    color: #EADCA6;
    border-bottom: solid #EADCA6 4px; }

.nav-container .nav-li:hover .nav-container-2 {
  display: block; }

.nav-container-2 {
  position: absolute;
  display: none;
  background-color: #FBFBFB;
  margin: 12px;
  border: solid 2px rgba(195, 105, 45, 0.2);
  translate: -1px;
  list-style-type: none; }

.nav-li-2 {
  border-bottom: solid 1px rgba(195, 105, 45, 0.2);
  padding: 12px;
  transition: all 300ms ease-in-out; }
  .nav-li-2:hover {
    background-color: #eceff2; }

.nav-links-2 {
  color: #C36A2D; }
  .nav-links-2:hover {
    color: #C36A2D; }

#home {
  background-image: url(../img/carrousel/portada-home.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 56vh;
  display: grid;
  grid-template-rows: 2fr 2fr; }

.home-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end; }

#secciones-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-right: 80px;
  padding-left: 80px;
  padding-bottom: 0%; }

.libros-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 152px);
  grid-column-gap: 64px; }

.libros-container {
  margin-right: 32px;
  margin-left: 32px;
  padding: 16px;
  width: 152px;
  height: 380px;
  display: grid;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  transition: all 250ms ease-in-out; }
  .libros-container:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }

.libros-portadas {
  width: 120px;
  height: 180px; }

.container-ofcanvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.footer-main-wrapper {
  background-color: #EADCA6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 80px; }

.footer-wrapper-containers {
  display: flex;
  flex-direction: column; }

/* =========== ESTILOS GENERALES =========== */
body {
  margin: 0%;
  padding: 0%;
  background-color: #FBFBFB;
  font-family: 'Gentium Book Plus', serif; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

ul {
  padding: 0%; }

p {
  margin: 0%; }

.titulo-header {
  margin: 0%; }

.titulo-buscador {
  font-size: 16px;
  font-weight: 600;
  color: #d37333; }

.titulo-mi-cuenta {
  color: #C36A2D;
  font-size: 16px; }
  .titulo-mi-cuenta:hover {
    color: #C36A2D; }

.titulos-secciones {
  margin-top: 0%;
  margin-bottom: 80px;
  font-size: 48px; }

.titulo-home {
  font-size: 32px;
  color: #FBFBFB; }

.titulos-libros {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  margin: 0%; }

.titulos-libros-autor {
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto;
  text-transform: capitalize;
  color: rgba(97, 95, 95, 0.564);
  margin: 0%; }

.titulo-libro_en-carrito {
  font-size: 16px; }

.footer-titulo-principal {
  text-align: center;
  background-color: #C36A2D;
  color: #EADCA6;
  margin-top: 160px;
  margin-bottom: 0%;
  padding: 16px 0px;
  font-size: 32px; }

.titulos-footer {
  font-weight: 600;
  color: #C36A2D;
  font-size: 24px; }

/* ========== TEXTOS ============ */
.texto-precio-total {
  font-size: 20px;
  font-weight: 500; }

.textos-home {
  font-size: 40px;
  color: #FBFBFB; }

.textos-footer {
  color: #C36A2D; }
  .textos-footer:hover {
    color: #C36A2D; }

.copyright {
  background-color: #C36A2D;
  padding: 16px;
  color: #EADCA6; }

/* ============== BOTONES ============== */
.buscador-boton {
  background-color: #C36A2D;
  border: none;
  width: 40px;
  height: 33px;
  padding: 0%;
  translate: 1px; }

.buscador-input {
  border-style: none;
  outline: none;
  background-color: #FBFBFB;
  color: #d37333;
  width: 514px;
  height: 32px;
  padding-left: 8px; }

.btn-agregar {
  align-self: flex-end; }

.btn-cantidad {
  padding: 8px;
  margin: 4px;
  border-style: none;
  line-height: 8px;
  border-radius: 4px;
  font-size: 24px; }

.input-footer {
  border-style: none;
  outline: none;
  background-color: #FBFBFB;
  height: 40px;
  width: 280px;
  padding-left: 8px;
  margin: 12px 0px; }

.boton-footer {
  border-style: none;
  line-height: 40px;
  margin: 0%;
  padding: 0px 16px;
  translate: 0px -1px;
  background-color: #C36A2D;
  color: #EADCA6; }
  .boton-footer:hover {
    background-color: #d37333; }
