/* ============== BOTONES ============== */

@import "variables";

.buscador-boton {
    border: none;

    width: 40px;
    height: 33px;

    background-color: $color-2;

    padding: 0%;
   
    translate: 1px;
}

.buscador-input {
    border-style: none;
    outline: none;
    background-color: $color-1;
    color: $color-5;

    width: 514px;
    height: 32px;

    padding-left: 8px;
}

.btn-agregar {
    align-self: flex-end;
}

.btn-cantidad {
    padding: 8px;
    margin: 4px;

    border-style: none;
    line-height: 8px;
    border-radius: 4px;

    font-size: 24px;
}


.input-footer {
    border-style: none;
    outline: none;
    background-color: $color-1;

    height: 40px;
    width: 280px;

    padding-left: 8px;
    margin: 12px 0px;
}

.boton-footer {
    border-style: none;
    line-height: 40px;

    margin: 0%;
    padding: 0px 16px;
    translate: 0px -1px;
    background-color: $color-2;
    color: $color-4;

    &:hover {
        background-color: $color-5;
    }
}








