/* =========== ESTILOS GENERALES =========== */

@import "variables";

body {
    margin: 0%;
    padding: 0%;
    background-color: $color-1;

    font-family: 'Gentium Book Plus', serif;
}



.links {
    text-decoration: none;
    color: $color-2;
}