/* =========== ESTILOS GENERALES =========== */

@import "variables";

body {
    margin: 0%;
    padding: 0%;
    background-color: $color-1;

    font-family: 'Gentium Book Plus', serif;
}


a {
    text-decoration: none; 
}

li {
    list-style-type: none;
}

ul {
    padding: 0%;
}

p {
    margin: 0%;
}