

.titulo-header{
    margin: 0%;
}

.titulo-buscador {
    font-size: 16px;
    font-weight: 600;
    color: $color-5;
}

.titulo-mi-cuenta {
    color: $color-2;
    font-size: 16px;

    &:hover {
        color: $color-2;
    }
}

.titulos-secciones {
    margin-top: 0%;
    margin-bottom: 80px;

    font-size: 48px;
}

.titulo-home {
    font-size: 32px;
    color: $color-1;
}

.titulos-libros {
    font-size: 16px;
    font-weight: 600;

    text-decoration: none;
    color: #000;

    margin: 0%;
}

.titulos-libros-autor {
    font-size: 12px;
    font-weight: 400;
    font-family: Roboto;

    color: rgba(53, 52, 52, 0.57);

    margin: 0%;
}


.titulo-libro_en-carrito {
    font-size: 16px;
}

.footer-titulo-principal {
    text-align: center;
    background-color: $color-2;
    color: $color-4;

    margin-top: 160px;
    margin-bottom: 0%;
    padding: 16px 0px;

    font-size: 32px;
}


.titulos-footer {
    font-weight: 600;
    color: $color-2;

    font-size: 24px;
}